@{
    List<String> listCities = ViewData["listCities"] as List<String>;
    List<String> listCityIds = ViewData["listCityIds"] as List<String>;
}

<h3 class="text-center">Vui lòng nhập thông tin của bạn</h3>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/Cart/Confirm" method="post">
                <div class="form-group">
                    <label for="name">Tên:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="form-group">
                    <label for="city">Tỉnh / Thành phố:</label>
                    <select class="form-control" id="city" name="city" required>
                        @foreach (var city in listCities)
                        {
                            if (listCities.IndexOf(city) != listCities.Count - 1)
                            {
                                <option value=@listCityIds[listCities.IndexOf(city)]>@city</option>
                            }
                            else
                            {
                                <option value="" selected>Mời chọn</option>
                            }

                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">Quận / Huyện:</label>
                    <select class="form-control" id="district" name="district" required>
                        <option value="" selected>Mời chọn</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="city">Phường / xã:</label>
                    <select class="form-control" id="ward" name="ward" required>
                        <option value="" selected>Mời chọn</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">Số nhà, tên đường:</label>
                    <input type="text" class="form-control" id="homeDetail" name="homeDetail" required>
                </div>
                <button type="submit" class="btn btn-success center-block">Xác nhận</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>

<script src="~/Scripts/address.js"></script>